body {                
                                   
  background:#110918;                                                
  color:#ffffff;                                                     
  font-family:Arial, sans-serif;                                  
  margin:0;                                                       
  padding:0;                                                      
}   
.dividents {
  position: absolute;
  background:#ac77c5;
  border-radius:50px;
  margin-bottom:100px;
  margin-left:550px;
  margin-right:550px;
  padding-bottom: 50px;
}
p{
  font-size:20px;
}
h1,h2,h3{
  
  font-weight: bold;
}